<header class="app-header">
  <h1>Angular App</h1>
  <nav class="app-header_nav">
    <div class="app-header_nav-item">
      <a href="/">Home</a>
    </div>
    <div class="app-header_nav-item">
      <a href="/books">Books</a>
    </div>
    <div class="app-header_nav-item">
      <a href="/reviews">Reviews</a>
    </div>
    <div class="app-header_nav-item">
      <a href="/news">News</a>
    </div>
    <div class="app-header_nav-item">
      <a href="/contacts">Contacts</a>
    </div>
  </nav>
</header>
